<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ static('/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ static('/css/main.css') }}">
    <link rel="shortcut icon" href="https://docs.idryer.org/assets/logoWeb.svg">
    {% block css %}
    {% endblock %}

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>...</title>
    {% endif %}
</head>
<body style="min-height: 100vh; background-color: #202124">
    <div class="container-fluid" style="min-height: 100vh; background-color: #1f1f1f">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ static('/js/bootstrap.bundle.min.js') }}"></script>    
    {% block javascript %}
    {% endblock %}
</body>
</html>
