{% extends "/base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ static('/css/index.css') }}">
<style>
    .card-full-size {
        flex: 1 1 100% !important; 
        max-width: 100% !important; 
        height: 100% !important; 
        margin: 0 !important; 
    }
</style>
{% endblock %}

{% block content %}
<div class="ratio ratio-4x3">
    <div class="d-flex flex-wrap align-items-start">
        {% set total_cards = idryers | length %}
        {% for idryer in idryers %}
        <div class="card {% if total_cards == 1 %}card-full-size{% else %}" style="flex: 0 0 350px; {% endif %}">
            <h5 class="card-header">{{ idryer.name }}</h5>
            <div class="card-body">
                <h5 class="card-title"><b>Status:</b> <span id="status_{{idryer.id}}">{{ idryer.status }}</span>
                </h5>
                <div class="card-text" style="margin: 0">
                    <h6 class="card-subtitle mb-2"><b>Temperature:</b> <span id="temperature_{{idryer.id}}">{{
                            idryer.temperature_sensor.temperature }}</span>°C</h6>
                    <h6 class="card-subtitle mb-2"><b>Relative humidity:</b> <span
                            id="relative_humidity_{{idryer.id}}">{{ idryer.temperature_sensor.relative_humidity
                            }}</span>%</h6>
                    <h6 class="card-subtitle mb-2"><b>Absolute humidity:</b> <span
                            id="absolute_humidity_{{idryer.id}}">{{ idryer.temperature_sensor.absolute_humidity
                            }}</span>g/m³</h6>
                    <h6 class="card-subtitle mb-2"><b>Time left:</b> <span id="time_{{idryer.id}}">N/A</span< /h6>
                </div>
                <div class="btn-toolbar gap-2 justify-content-md-center" role="toolbar">
                    <div class="btn-group flex-grow-1" role="group">
                        <button class="btn btn-danger" id="off_{{idryer.id}}" onclick="controlStatus({{idryer.id}}, 0)"
                            style="margin-bottom: 10px;">OFF</button>
                    </div>
                    <div class="btn-group flex-grow-1" role="group">
                        <button class="btn btn-success" onclick="controlForm({{idryer.id}})"
                            style="margin-bottom: 10px;">Dry</button>
                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                            style="margin-bottom: 10px;" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden"></span>
                        </button>
                        <div class="dropdown-menu p-2 w-100 custom-dark-theme"
                            style="z-index: 5000; margin-bottom: 10px;" aria-labelledby="dropdownMenuButton">
                            <form id="inputForm_{{idryer.id}}" onsubmit="return false;">
                                <div class="mb-3">
                                    <label for="input_{{idryer.id}}_temperature" class="form-label">Temperature</label>
                                    <input type="number" class="form-control" id="input_{{idryer.id}}_temperature"
                                        value="{{idryer.presets[0].temperature}}" min="0" max="1000">
                                </div>
                                <div class="mb-3">
                                    <label for="input_{{idryer.id}}_max_temperature_delta" class="form-label">Max
                                        temperature delta</label>
                                    <input type="number" class="form-control"
                                        id="input_{{idryer.id}}_max_temperature_delta"
                                        value="{{idryer.presets[0].max_temperature_delta}}" min="0" max="1000">
                                </div>
                                <div class="mb-3">
                                    <label for="input_{{idryer.id}}_humidity" class="form-label">Humidity</label>
                                    <input type="number" class="form-control" id="input_{{idryer.id}}_humidity"
                                        value="{{idryer.presets[0].humidity}}" min="0" max="100">
                                </div>
                                <div class="mb-3">
                                    <label for="input_{{idryer.id}}_dry_time" class="form-label">Dry time</label>
                                    <input type="number" class="form-control" id="input_{{idryer.id}}_dry_time"
                                        value="{{idryer.presets[0].dry_time}}" min="0" max="99999">
                                </div>
                                <hr>
                                <div class="mb-3">
                                    <h6>Humidity storage</h6>
                                    <label for="input_{{idryer.id}}_humidity_storage_dry_time" class="form-label">Dry
                                        time</label>
                                    <input type="number" class="form-control"
                                        id="input_{{idryer.id}}_humidity_storage_dry_time"
                                        value="{{idryer.presets[0].humidity_storage_dry_time}}" min="0" max="99999">
                                    <label for="input_{{idryer.id}}_humidity_storage_range"
                                        class="form-label">Range</label>
                                    <input type="number" class="form-control"
                                        id="input_{{idryer.id}}_humidity_storage_range"
                                        value="{{idryer.presets[0].humidity_storage_range}}" min="0" max="1000">
                                </div>
                                <hr>
                                <div class="mb-3">
                                    <h6>Temperature storage</h6>
                                    <label for="input_{{idryer.id}}_storage_temperature" class="form-label">Storage
                                        temperature</label>
                                    <input type="number" class="form-control"
                                        id="input_{{idryer.id}}_storage_temperature"
                                        value="{{idryer.presets[0].storage_temperature}}" min="0" max="1000">
                                </div>
                                <hr>
                                <button type="submit" onclick="controlForm({{idryer.id}})"
                                    class="btn btn-primary w-100">Send</button>
                            </form>
                        </div>
                    </div>
                    {% if idryer.presets|length > 1 %}
                    <div class="btn-group flex-grow-1 d-flex flex-wrap justify-content-between btn-group-presets"
                        role="group">
                        {% for preset in idryer.presets %}
                        {% if preset.name != "default" %}
                        <button class="btn btn-primary" id="preset_{{idryer.id}}_{{preset.id}}"
                            onclick="controlStatus({{idryer.id}}, 1, {{preset.id}})"
                            style="margin-bottom: 10px;">{{preset.name}}</button>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ static('/js/index.js') }}"></script>

<script>
    setInterval(updateData, {{ update_rate }});
    updateData();
</script>

{% endblock %}