[heater_generic idryer_u1_heater]
heater_pin: H_U1
max_power: 1
sensor_type: NTC 100K MGB18-104F39050L32 
sensor_pin: T_U1
control: pid
pwm_cycle_time: 0.3
min_temp: 0
max_temp: 115
pid_Kp=41.977
pid_Ki=3.372
pid_Kd=130.652

[verify_heater idryer_u1_heater]
max_error: 240
check_gain_time: 120
hysteresis: 5
heating_gain: 1

[heater_fan fan_u1]
pin: FAN_U1
max_power: 1.0
shutdown_speed:1.0
kick_start_time: 0.5
heater: idryer_u1_heater
heater_temp: 50.0
fan_speed: 1.0
off_below: 0

[temperature_sensor idryer_u1_air]
sensor_type: SHT3X

i2c_address: 68
i2c_software_sda_pin: gpio20 
i2c_software_scl_pin: gpio21 

[gcode_macro QUERY_IDRYER_U1]
gcode:
    {action_respond_info("U1 temperature: %.2f C, Humidity: %.2f%%" % (
        printer["sht3x idryer_u1_air"].temperature,
        printer["sht3x idryer_u1_air"].humidity))}

[neopixel sprd]
pin: NEOPIXEL0
chain_count: 4
color_order: GRB
initial_RED: 0.00
initial_GREEN: 0.26
initial_BLUE: 0.00

[servo srv_u1]
pin: SRV_U1
maximum_servo_angle: 180
minimum_pulse_width: 0.00055
maximum_pulse_width: 0.002

[gcode_macro servo_u1]
gcode:
    {% set angle = params.ANGLE|default(90)|int %} 
    SET_SERVO SERVO=srv_u1 ANGLE={angle}

[gcode_shell_command off_u1]
command: /home/orangepi/PyUnit/venv/bin/python3 /home/orangepi/PyUnit/idryer_macros/api.py
timeout: 5.
verbose: True
[gcode_macro off_u1]
gcode:
    RUN_SHELL_COMMAND CMD=off_u1 PARAMS="--id 0 --status 0"

[gcode_shell_command dry_u1]
command: /home/orangepi/PyUnit/venv/bin/python3 /home/orangepi/PyUnit/idryer_macros/api.py
timeout: 5.
verbose: True
[gcode_macro dry_u1]
gcode:
    {% set temperature = params.TEMPERATURE|default(60)|int %} 
    {% set max_temperature_delta = params.MAX_TEMPERATURE_DELTA|default(20)|int%} 
    {% set humidity = params.HUMIDITY|default(10)|int%}
    {% set dry_time = params.DRY_TIME|default(60)|int%}
    {% set humidity_storage_dry_time = params.HUMIDITY_STORAGE_DRY_TIME|default(10)|int%}
    {% set humidity_storage_range = params.HUMIDITY_STORAGE_RANGE|default(3)|float%}
    {% set storage_temperature = params.STORAGE_TEMPERATURE|default(0)|int%}
    RUN_SHELL_COMMAND CMD=dry_u1 PARAMS="--id 0 --status 1 --temperature {temperature} --max_temperature_delta {max_temperature_delta} --humidity {humidity} --dry_time {dry_time} --storage_temperature {storage_temperature} --humidity_storage_dry_time {humidity_storage_dry_time} --humidity_storage_range {humidity_storage_range}"

[gcode_shell_command pla_u1]
command: /home/orangepi/PyUnit/venv/bin/python3 /home/orangepi/PyUnit/idryer_macros/api.py
timeout: 5.
verbose: True
[gcode_macro pla_u1]
gcode:
    RUN_SHELL_COMMAND CMD=pla_u1 PARAMS="--id 0 --status 1 --preset 1"

[gcode_shell_command petg_u1]
command: /home/orangepi/PyUnit/venv/bin/python3 /home/orangepi/PyUnit/idryer_macros/api.py
timeout: 5.
verbose: True
[gcode_macro petg_u1]
gcode:
    RUN_SHELL_COMMAND CMD=petg_u1 PARAMS="--id 0 --status 1 --preset 2"

[gcode_shell_command tpu_u1]
command: /home/orangepi/PyUnit/venv/bin/python3 /home/orangepi/PyUnit/idryer_macros/api.py
timeout: 5.
verbose: True
[gcode_macro tpu_u1]
gcode:
    RUN_SHELL_COMMAND CMD=tpu_u1 PARAMS="--id 0 --status 1 --preset 3"

[gcode_shell_command abs_u1]
command: /home/orangepi/PyUnit/venv/bin/python3 /home/orangepi/PyUnit/idryer_macros/api.py
timeout: 5.
verbose: True
[gcode_macro abs_u1]
gcode:
    RUN_SHELL_COMMAND CMD=abs_u1 PARAMS="--id 0 --status 1 --preset 4"

[gcode_shell_command pa_u1]
command: /home/orangepi/PyUnit/venv/bin/python3 /home/orangepi/PyUnit/idryer_macros/api.py
timeout: 5.
verbose: True
[gcode_macro pa_u1]
gcode:
    RUN_SHELL_COMMAND CMD=pa_u1 PARAMS="--id 0 --status 1 --preset 5"